/** Variable colors **
** To use variable colors, use var(--color-name) **
** Example: color: var(--yellow); **/

:root {
  --yellow: #fbffa7;
  --light-blue: #b1c5ff;
  --green: #b6ffc0;
  --orange: #ff764d;
  --purple: #d5b3ff;
  --dark-blue: #0000ff;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/******************************************
/* LAYOUT
/*******************************************/

/*NAVIGATION BAR*/

.navigation {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 1.1rem;
  padding: 0.3rem 2rem;
  border-bottom: 1px solid lightgray;
}

.navigation img {
  width: 80px;
  object-fit: contain;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.links ul {
  display: flex;
  gap: 1.5rem;
}

.links ul li:last-of-type a{
  color: var(--orange);
}

.nav-right {
  gap: 1.5rem;
  padding-right: 1.5rem;
}

.nav-right p:first-of-type a {
  color: var(--dark-blue);
}

.nav-right p:last-of-type {
  font-size: 0.8rem;
}

.about-nav {
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.about-nav ul{
  display: flex;
  gap: 1.5rem
}

.about-nav ul li:first-of-type a {
  color: var(--orange);
}

/*HERO SECTION*/

.hero-section {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
  url('/images/ableton-hero-img.jpg');
  background-size: cover;
  background-position: center;
  width: 85%;
  margin: 0 auto;
  height: 85vh;
}

.hero-section span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #FD5948;
  font-size: 7.5rem;
}

/*TEXT AREA - HOPEFULLY WE CAN REUSE THESE FOR FUTURE TEXT AREAS*/

.text-container {
  padding: 7rem 0;
  line-height: 1.8;
  margin: 0 auto;
  width: 50%;
}

.accent-blue {
  color: var(--dark-blue);
}

.text-large {
  font-size: 1.5rem;
  text-align: left;
}

.text-small {
  width: 105%;
  font-weight: 400;
}